.summary-container {
  display: flex;
  justify-content: space-between;
  flex: 1;

  .summary-subtitle {
    opacity: 0.7;
  }
}
.history-actions {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
