@import "src/variables";

.player-container {
  padding-bottom: calc(#{$height} - 13rem);
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  min-width: $min-width;
  border-right: 1px solid #e6eef5;
  background-color: white;

  &:last-child {
    border-right: 0;
  }

  .player-input-cell {
    min-width: $min-width;
    text-align: center;
    display: flex;
  }
  .player-points {
    @mixin player-input {
      padding: 0;
      width: 100%;
      box-sizing: border-box;
      border: 0;
      height: 2.5rem;
      text-align: center;
    }
    .points-input {
      @include player-input;
      flex: 2;
    }
    .comment-input {
      @include player-input;
      background-color: #ebebeb;
      flex: 1;
    }
    .empty-input {
      background-color: aliceblue;
    }
  }
}
