.new-game-form {
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.player-name-form-control {
  flex: 1;
}
.new-game-toolbar {
  justify-content: space-between;
}
.new-game-list {
  flex: 1;
  overflow: auto;
}
.drag-icon-container {
  display: flex;
  padding-right: 16px;
}
.checkbox-form {
  span {
    user-select: none;
  }
}
