@import "../variables";

.player-names {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
}

.highlighted {
  border: 4px solid $secondaryText;
}

.non-highlighted {
  border: 4px solid $secondary;
}

.player-name {
  height: 2.5rem;
  box-sizing: border-box;
  background-color: $secondary;
  color: $secondaryText;
  flex: 1;
  font-weight: bold;
  min-width: $min-width-border;
  text-align: center;
  padding: 0;
}

.player-header-cell {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: $min-width-border;
  text-align: center;
}

.player-table-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.player-row-placeholder-names {
  height: 2.5rem;
  background-color: $secondary;
  transition: min-width .5s, width .5s, color .5s;
}

.placeholder-open {
  min-width: 40px;
  width: 40px;
}

.placeholder-closed {
  min-width: 0;
  width: 0;
}

.player-row-placeholder-points {
  height: 2.5rem;
  background-color: $secondary;
  transition: min-width .5s, width .5s, color .5s;
}

.row-players-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  user-select: none;

  .points-row-index {
    height: 2.5rem;
    background-color: $primary;
    font-weight: bold;
    box-sizing: border-box;
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .points-rows-container {
    background-color: $primary;
    transition: min-width .5s, width .5s, color .5s;
  }

  .rows-open {
    min-width: 40px;
    width: 40px;
    color: white;
  }

  .rows-closed {
    min-width: 0;
    width: 0;
    color: $primary;
  }
}

.player-table {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.player-scores {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
}

.player-score {
  background-color: $secondary;
  color: $secondaryText;
  flex: 1;
  user-select: none;
}
