@import "../variables";

.player-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 5rem;
  border-right: 1px solid #e6eef5;

  &:last-child {
    border-right: 0;
  }

  .player-input-cell {
    min-width: $min-width;
    text-align: center;
  }
  .player-points {
    .points-input {
      padding: 0;
      width: 100%;
      box-sizing: border-box;
      border: 0;
      height: 2.5rem;
      text-align: center;
      color: $primary;
    }
    .empty-input {
      background-color: aliceblue;
    }
  }
}
