@import "./variables";

.app {
  display: flex;
  flex-direction: column;
  height: calc(#{$height} - env(keyboard-inset-height, 0));
}

// .keyboard-placeholder {
//   height: env(keyboard-inset-height, 0);
// }
